.works {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: antiquewhite;
    opacity: 60%;
}

.myWorks{
    height: 380px;
    width: 80%;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: cyan;
}

.container {
    margin: 0 auto;
    background-color: lime;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.first {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    position: relative;
    background-color: white;
}

.top {
    height: 70px;
    width: 70px;
    background-color: #f1d206;
}

.button {
    margin-top: 25%;
}

.buttom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background-color: #0d84be;
}

.discription {
    height: 80%;
    width: 80%;
}


