.worksBlock {
    height: 100vh;
    background-color: red;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: aquamarine;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media only screen and (min-device-width : 320px)
and (max-device-width : 900px) {
    .works {
        display: flex;
        justify-content: center;
    }
    .worksBlock {
        height: 100%
    }
}