.remWork {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background-color: blueviolet;
    opacity: 60%;
}

.container {
    height: 60%;
    width: 80%;
    position: relative;
}

.top {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.button2 {
    position: absolute;
    bottom: 0;
}
