.skills {
    margin: 0;
    height: 100vh;
    border: 1px solid;
    background-color: #cd3a0d;
    opacity: 70%;
}

.container {
    margin: 0 auto;
    height: 380px;
    width: 80%;
    background-color: lime;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: cyan;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.first {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    position: relative;
    background-color: white;
}

.top {
    height: 70px;
    width: 70px;
    background-color: #f1d206;
}

.title {
    margin-top: 30%;
}

.buttom {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    text-align: center;
    background-color: #0d84be;
}


