.MainFooter {
    height: 40vh;
    width: 100%;
    background-color: #e9dfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
}

.container {
    border: 1px solid;
    height: 80%;
    width: 80%;
    position: relative;

}

.name {
    display: flex;
    justify-content: center;
}

.block {
    height: 30%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f1d206;
}

.blocks {
    height: 100%;
    width: 10%;
    background-color: blueviolet;
}

.string {
    display: flex;
    justify-content: center;
    font-family: "Arial Narrow";
}
